<!DOCTYPE html>
<% user = User.find_by_email(session[:email]) %>

<!--업체 등록을 위한 페이지-->
<script>
var companyNameCheck = false;
var companyNumCheck = false;
var companyPhoneCheck= false;
var companyBirthCheck= false;
var companyAddressCheck= false;

function formCheck(){
    if ($("#companyName").val() != ""){
        companyNameCheck = true;
    }
    if ($("#companyNum").val() != ""){
        companyNumCheck = true;
    }
    if ($("#companyBirth").val() != ""){
        companyBirthCheck = true;
    }
    if ($("#companyAddress").val() != ""){
        companyAddressCheck = true;
    }
    if ($("#companyPhone").val() != ""){
        companyPhoneCheck = true;
    }
    
    if(companyNameCheck&&companyPhoneCheck&&companyBirthCheck&&companyNumCheck&&companyAddressCheck){
        console.log("FORM PERFECT!!")
        return true;
    }else{
        console.log("---------------------------------------------------");
        console.log("companyNameCheck : " + companyNameCheck);
        console.log("companyNumCheck : " + companyNumCheck);
        console.log("companyPhoneCheck : " + companyPhoneCheck);
        console.log("companyBirthCheck : " + companyBirthCheck);
        console.log("companyBirth : " + $("#companyBirth").val());
        console.log("companyAddressCheck : " + companyAddressCheck);
        swal(
            "",
            "Plz, Check your FORM!",
            "warning");
        return false;
    }
};
    $(function(){
         $("#selectBirth").change(function(){
             $("#companyBirth").val($(this).val()); 
      }); 
    });
</script>







<!--아래의 div는 주소 검색을 위한 창입니다.-->
<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
<img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
</div>


<!--이메일의 경우, 이미 사용자가 있는지 확인하는 것도 필요...-->
<section class="intro">
    <p class="joinus"> 업체 등록 페이지 </p>
	<p class="congra"> 업체 등록이 완료되어야 업체전용 페이지 이용가능합니다. </p>
	<br>
</section>

<div class="container">	
	<section class="intro2">
		<strong><p style="font-size:20px;">업체정보</p></strong>
		<p>업체 등록을 위한 필수 입력 항목</p>
		<hr>
	</section>
		
	<div class="sign_up">
		<form id="insert_form" action="/company_register" method="POST" enctype="multipart/form-data" onsubmit="return formCheck()">
		    <label>* 이메일<input type="email" id="userEmail" name="email" value="<%= user.email %>" disabled></label>
		    <hr>
		    <label>* 업체이름<input type="title" id="companyName" name="companyName"></label><br>
		    <hr>
		    <label>* 한줄소개<input type="title" id="companyIntro" name="companyIntro"></label><br>
		    <hr>
		    <label>* 전화번호<input type="title"  id="companyPhone" name="companyPhone"></label><br>
		    <hr>
		    <label>* 직원 수<input type="title" name="numStaff"></label><br>
		    <hr>
		    <label>* 개업년도
    		    <select id="selectBirth">
	    	    	<% 
		    	    	for i in 1960..2017
			    	%>
			   		<option value="<%=i%>"><%=i%></option>
			    	<%
			    	end
			    	%>
				</select>
			    <input hidden id="companyBirth" name="companyBirth"></input></label><br>
		    <hr>
		    <label>* 대표이미지<input type="file" name="storeURL"></label><br>
		    <hr>
		    <label>* 가격표<input type="file" name="menuURL"></label><br>
		    <hr>
			<label>* 대표 이름<input type="title" id="userName" name="userName" value="<%= user.userName %>" disabled> </label><br>
			<hr>
			<label>* 사업자 등록번호<input type="title"  id="companyNum" name="companyNum"></label><br>
			<hr>
			<label>* 대표 핸드폰번호<input type="title" id="companyPhone" name="phoneNum" value="<%= user.phoneNum %>" disabled></label><br>
			<hr>
			<label>* 사업자등록증<input type="file" id="companyUrl" name="imageURL"></label><br>
			<hr>
			    
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false"></script>
<script>

    // 우편번호 찾기 화면을 넣을 element
    var element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }
    
    function sample2_execDaumPostcode() {
        daum.postcode.load(function(){
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('companyAddress').value = data.address;
                    document.getElementById('addressTextbox').value = data.address;
                    
                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                theme: {
    				       bgColor: "#FFB6B9", //바탕 배경색
    					   searchBgColor: "#FFFFFF", //검색창 배경색
    					   contentBgColor: "#FFFFFF", //본문 배경색(검색결과,결과없음,첫화면,검색서제스트)
    					   pageBgColor: "#FFB6B9", //페이지 배경색
    					   emphTextColor: "#C01160" //강조 글자색
    					   },
        		width : '100%',
                height : '100%',
                maxSuggestItems : 5
            }).embed(element_layer);
        });
        // iframe을 넣은 element를 보이게 한다.
        element_layer.style.display = 'block';

        // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
        initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition(){
        var width = 500; //우편번호서비스가 들어갈 element의 width
        var height = 400; //우편번호서비스가 들어갈 element의 height
        var borderWidth = 5; //샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
    }
</script>

        <label>* 주소 
    	    <input hidden type="text" id="companyAddress" name="companyAddress"></input>
    	    <input disabled id="addressTextbox"></input>
	    </label>
	    <input id="confirmEmail" type="button" onclick="sample2_execDaumPostcode()" value="주소 찾기"><br>
	    <hr width="76%" align="left"; >


	    <div class="row2">
	     	<a href="/home/basic_company" class="btn bg px-4 py-3">취소하기</a>
	        <input type="submit" class="btn bg px-4 py-3" value="등록"></input>
	    </div>
	</form>
</div>

<!--<footer class="footer">-->
<!--    <div class="pickmeup_logo">-->
<!--        <img src="#" alt="">-->
<!--        <p class="explain">-->
<!--            여기에는 픽미업과 관련한 기본 정보 등을 담을 예정입니당-->
<!--        </p>-->
<!--        <p class="copyright">&copy;2017 Pickmeup. All Rights Reserved.</p>-->
<!--    </div>-->
<!--</footer>-->