<!DOCTYPE html>
<html lang="en">
<%= render partial: "tab" %>
<head>
  <script>
    $(function(){
      $("#category1Select").change(function(){
        $("#searchCate1Input").val($(this).val());
      });
    });
  </script>
</head>

<body class="basic_image">
  <section id="registered_shops" class="section">
    <header class="section_header">
      <section class="intro">
				<p class="joinus">Hairshops</p>
				<p class="congra">픽미업 등록 업체, 모아보기</p>
				<img src="/assets/hairshops.png">
				<br>
      </section>
    </header>
  </section>
        
  <div class="search_class"> 
    <form action='/home/hairshop' class="search_array" method="GET">
      <label><img src='/assets/search.png' ></label>
      <select id="category1Select">
        <option value="1">업체명</option>
        <option value="2">지역명</option>
      </select>
      <input hidden id="searchCate1Input" name="searchCate1Input" value="1"></input>
      <input type="text" name="searchInput" class="sizeup">
      <input type="submit" value="검색" class="btn bg">
    </form>
  </div>
       
    
  <!--필터링 드롭다운-->
  <br>
  <br>          
  <br> 
      
  <div class="container">  
   
      <div class="col-12">
         <div class="row">
          <% @companies.each do |c|%>
            <div class="card col-4">
              <img class="card-img-top" src="...">
              <div class="card-block">
                <h4 class="card-title"><%=c.companyName%></h4>
                <p class="card-text"><%=c.companyIntro%></p>
                <p class="card-text"><%=c.companyAddress%></p>
                <a href="/home/hairshop_each/<%=c.id%>" class="btn bg px-4 py-3">자세히 보기</a>
              </div>
            </div>
      <%end%>
      </div>
    </div>
  </div>
      
  <center><%= paginate @companies %></center>
         
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>


<!--<%= render partial: "footer" %>-->
