<!DOCTYPE html>


<body class="basic_image">
<%= render partial: "tab" %>    
        <section id="registered_shops" class="section">
          <header class="section_header">
                 <section class="intro">
          				<p class="joinus">Hairshop</p>

          				<img src="/assets/hairshops.png" style='margin-top:15px;'>
          				<br>
          				<br>
          				 
          				
		         </section>
          </header>
        </section>
        
<div class="div1">      
<div class="container">
        <p class="congra1"><%=@company.companyName%></p>
        <p>대표 이미지 </p>
        <img src='<%=@company.imageURL%>' class="resize2">
        <p>한줄소개: <%=@company.companyIntro%></p>
        <p>대표자명: <%=@user.userName%></p>
        <p>주소 :<%=@company.companyAddress%></p>
        <p>전화번호 :<%=@company.companyPhone%></p>
        <p>이메일 :<%=@company.userEmail%></p>
        <p>개업년도 :<%=@company.companyBirth%></p>
<div class="flex1">
        <p>미용실사진 </p>
        <img src='<%=@company.storeURL%>' class="resize1">
        <p>기본 가격표 </p>
        <img src='<%=@company.menuURL%>' class="resize1">
</div>
       
    
</div>
</div>
</body>



<!--<%= render partial: "footer" %>-->

