<h1>Home#hairshop_each</h1>
<p>Find me in app/views/home/hairshop_each.html.erb</p>

#특정 미용실에 대한 정보(미용실 사진, 위치, 번호, 운영시간, 기본 가격표) 불러오기

#미용실 사진
#기본 가격표

<div class="container">
    <div class="row">
        <section>
            
        </section>
        <p>미용실 명 :<%=@user.useName%></p>
        <p>주소 :<%=@user.address%></p>
        <p>전화번호 :<%=@user.phoneNum%></p>
        <p>이메일 :<%=@user.email%></p>
        <p>개업날짜 :<%=@user.birth%></p>
    </div>
</div>

    <footer class="footer">
      <div class="pickmeup_logo">
        <img src="#" alt="">
        <p class="explain">
          여기에는 픽미업과 관련한 기본 정보 등을 담을 예정입니당
        </p>
        <p class="copyright">&copy;2017 Pickmeup. All Rights Reserved.</p>
      </div>
    </footer>
