  <!DOCTYPE html>
<head>
  <script>
  $(function(){
    $("#sign_out").click(function(){
      swal({
        title: "탈퇴하시려면 <br>비밀번호를 입력해주세요.",
        input: 'password',
        showCancelButton: true,
        confirmButtonText: '탈퇴',
        showLoaderOnConfirm: true,
        preConfirm: function (password) {
          return new Promise(function (resolve, reject) {
            setTimeout(function() {
                $.ajax({
                method: "POST",
                url: "/home/signOutConfirm",
                datatype : "JSON",
                data: {"password" : password},
        	      success : function(json) {
            		  if (json.check){
            		    resolve()
            		  }else{
          		      reject('비밀번호가 틀립니다.')
            		  }
        	      }
              });
            }, 2000)
          })
        },
        allowOutsideClick: false
      }).then(function () {
        swal({
          type: 'success',
          title: '안녕..',
          html: '다시만날 날을 기약하며...',
        }).then(function(){
           window.location.replace('/home/sign_out');
        })
      });
    });
  });
  </script>
</head>
  
  <%= render partial: "tab" %>
<body class="basic_image">
  
  <section class="intro">
    <p class="joinus">My page</p>
    <p class="congra">마이페이지</p>
    <img src="/assets/mypage.png">
    <br>
  </section>

<div class="rowc">
<div class="container">
    <div class="mypagedg">
        <p>* 이메일: <%=@user.email%></p>
        <p>* 이름 : <%=@user.userName%></p>
        <p>* 전화번호 : <%=@user.phoneNum%></p>
        <p>* 나이 : <%=@user.birth%></p>
        <p>* 성별 : <%=@user.gender%></p>
        <p>* 주소 :<%=@user.address%></p>
    </div>
</div>
</div>
<button id="sign_out" class="btn btn-default">탈퇴</button>

<%= render partial: "footer" %>
</body>   
</html>